html {
    background-color: #303030;
    color: white;
}

.blog_name {
  position: relative;
  font-size: 2.5em;
  font-weight: bold;
}

a:link {
  color: #0DADFF;
}

a:visited {
  color: #F800FF;
}

a:hover {
  color: #FFD68F;
}

.title_bar img {
  width: 45px;
  height: 45px;
  float: right;
}

header ul {
  padding: 10px;
  background: #0e1215;
}

header li {
  display: inline;
  padding: 0px 15px 0px 15px;
}

h2 {
  font-size: 1.75em;
  display: block;
  text-align: center;
  /*using google fonts and cursive as the backup*/
  font-family: 'Gloria Hallelujah', cursive;
}

.main p {
  font-size: 16px;
  display: inline;
}

li {
  color: #09D8B2;
  font-family: 'Open Sans', sans-serif;
}

img {
  float: right;
  display: block;
  margin-right: 5px;
  width: 600px;
  height: 350px;
}

footer {
  border: 1px solid #101010;
  background: #0e1215;
  text-align: center;
  padding: 20px 0px 20px 4px;
  margin-top: 35%
}
