html {
    background-color: #303030;
    color: white;
}

.blog_name {
  position: relative;
  font-size: 2.5em;
  font-weight: bold;
}

.header_text {
  position: absolute;
  font-size: 1em;
  font-size: italic;
  margin: 15px 20% 0 20%;
  width: 25%;
}

ul {
  padding: 10px;
  background: gray;
}

li {
  display: inline;
  padding: 0px 10px 0px 10px
}

/*.sub_blog {
    display: block;
    text-align: center;
}*/

.main_blog {
  text-align: center;
  font-family: sans-serif;
}

footer {
  border: 1px solid #101010;
  position: relative;
  height: 25px;
  margin-bottom: 5%;
  width:  100%;
  padding: 15px 0px 15px 4px;
}

/*footer img {
    position: absolute;
    margin: 10px 0px 10px 75%;
    width: 45px;
    height: 45px;
}*/