/***************************************
SPECIAL FORMATTING (e.g. Code tags)
****************************************/

html {
  /*background-color: #303030;*/
  background-color: #303030;
  color: white;
}

code {
  background-color: green;
}

/***************************************
HEADER
****************************************/

header {
  position: fixed;
  top: -5px;
  float: left;
  padding: 5px 0 0 0;
  min-width: 100%;
}

/*header nav {
  margin-top: 38px;
  margin-right: 20px;
}*/

header ul {
  padding: 10px;
  background: #0e1215;
}

header li {
  display: inline;
  padding: 0px 15px 0px 15px;
}

/*.title {
 margin-left: 10px;
}*/

.nav-links code {
  font-size: 2.5em;
  background-color: #eff2ef;
  color: #cc5987;
}

.nav-links code:hover {
  background-color: #e36397;
  color: #eff2ef;
}

/***************************************
FONT TREATMENT
****************************************/

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
  display: block;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
}

h3 {
  font-size: 1.25em;
  display: block;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
}

.about-me p,  .resume p, .contact p {
  font-size: 1.25em;
  display: inline-block;
  max-width: 75%;
  margin-left: 12%;
}

.main p {
  font-size: 16px;
  display: inline;
}

strong {
  font-size: 1em;
}

span {
  margin-top: 1.5%;
  font-size: .89em;
  display: block;
}

span strong {
  font-size: 1.15em;
}

span i {
  font-size: 1em;
}

/***************************************
BLOG
****************************************/

.blog_cat {
  float: left;
  display: inline-block;
  width: 40%;
  margin: 4%;
  /*border: 2px dashed black;*/
  text-align: center;
}

.sub_blog {
  display: block;
  font-size: 1.1em;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.main_blog {
  font-family: 'Open Sans', sans-serif;
}

/***************************************
IMAGES
****************************************/

.main_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  width: 600px;
}

/***************************************
ANCHOR TAGS
****************************************/

a {
  text-decoration: none;
  /*color: #9e4569;*/
  color: #e36397;
}

a:link {
  /*color: #0DADFF;*/
  /*color: #51BBFE;*/
}

a:visited {
  /*color: #9e4569;*/
  /*color: #A5402D;*/
}

a:hover {
  color: #FFD68F;
}

/***************************************
PAGE SECTIONS
****************************************/

section {
  margin-top: 7%;
}

li {
  color: #09D8B2;
  font-family: 'Open Sans', sans-serif;
}

/***************************************
RESUME SECTION
****************************************/

.resume-box {
  float: left;
  display: inline-block;
  width: 40%;
  height: 320px;
  margin: 4%;
  border: 2px dashed black;
  border-radius: 5%;
  /*background-color: #BC8DA7;*/
  background-color: #883b5a;
  /*text-align: center;*/
}

/***************************************
FOOTER
****************************************/

footer {
  border: 1px solid #101010;
  /*background: #0e1215;*/
  background: #222222;
  font-size: 1em;
  text-align: center;
  clear: both;
  padding: 20px 0px 20px 4px;
  color: #ccc;
}

#social_icon {
  width: 35px;
  height: 35px;
  margin: 0 5px;
  padding-bottom: 10px;
}

/***************************************
MEDIA QUERIES
****************************************/

@media only screen and (max-width: 740px) {

}

@media only screen and (max-width: 360px) {
  .nav {
    margin: 10px 70px 10px 70px;
    padding: 0 40px 0 40px;
  }

  .about-me p,  .resume p, .contact p {
    font-size: .75em;
    display: inline-block;
    max-width: 75%;
    margin-left: 12%;
  }

  .main_img {
    width: 200px;
}

  h2 {
    font-size: .85em;
}

  .resume-box {
    font-size: .5em;
  }
}
